a {
    color: inherit !important;
}

.bg-dark {
    background-color: #2c3e50 !important;
    color: white !important;
}

.bg-dark-1 {
    background-color: #34495e !important;
    color: white !important;
}

body {
    font-family: "Poppins", sans-serif;
}
