a {
    color: inherit !important;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
    color: white ;
}

.bg-dark {
    background-color: #2c3e50 !important;
    color: white !important;
}

.bg-dark-1 {
    background-color: #34495e !important;
    color: white !important;
}

.no-margin {
    margin: 0 !important;
}

.profile-header {
    background-image: url('../assets/cover-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 15rem !important;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem !important;
    border-radius: 0.5rem;
}

.profile-img {
    border-radius: 0.5rem;
}

.profile-info {
    border-radius: 0.5rem;
    padding: 0.5rem 2rem !important;
}

.chip {
    font-size: 0.7rem;
    font-weight: bolder;
    color: white;
}

.collection {
    border-radius: 0.5rem;
}

.collection * {
    color: black;
}

.posts-list {
    margin-top: 1rem !important;
    padding: 0 !important;
}